REMINISCENCE_DATA_DIR=~/.reminiscence
REMINISCENCE_DB_PATH=~/.reminiscence/reminiscence.db
REMINISCENCE_MODEL_DIR=~/.reminiscence/models
REMINISCENCE_MEDIA_DIR=~/.reminiscence/media
REMINISCENCE_LOG_LEVEL=INFO
REMINISCENCE_DEBUG_CONTENT=0
REMINISCENCE_TELEMETRY=0
REMINISCENCE_PREFER_NPU=1
REMINISCENCE_ALLOW_VLM=0
REMINISCENCE_EMBEDDING_MODEL=
REMINISCENCE_ASR_MODEL=
REMINISCENCE_OCR_MODEL=
REMINISCENCE_LLM_MODEL=
REMINISCENCE_WORKERS=2
REMINISCENCE_MAX_FILE_SIZE=536870912
REMINISCENCE_VECTOR_INDEX=numpy
